[2018-07-19 09:47] bmann opened #1 "Set up mailing list mode / reply by email"
I would like to see us turn on Discourse's mailing list mode so people can reply by email. This is the high level description / config around it: https://meta.discourse.org/t/configuring-reply-via-email-e-mail/42026

It looks like we can also use Discourse as our home base for organizing / planning / sponsorships as well with having email addresses mapped to groups. This is the article that talks

[2018-07-19 09:49] bmann commented on #1
@jpitts I am assigning this to you only because AFAIK you are the one with the keys. I _don't_ think you should be the only one burdened with infra maintenance -- and in fact I'm going to open an issue around that.

[2018-07-19 10:00] bmann opened #2 "Document infrastructure ownership and process"
Wiki page is here: https://github.com/ethereum-magicians/scrolls/wiki/Infrastructure

Some of this stuff we will need to keep moderately private.

[2018-07-20 09:37] bmann opened #3 "Receive & pay c-base invoice"
@ligi to iniate process to make a c-base invoice for 300EU to B. Mann Consulting.

Boris to pay, get re-imbursed in Ether

[2018-07-20 11:40] ligi commented on #3
You should have the invoice now

[2018-07-20 13:31] bmann opened #4 "Write a new post announcing Scrolls wiki"
Write a new post in the forum announcing the wiki and suggested usage.

Ideally, also that while Site Feedback category is great for general feedback, that we use Issues for actionable infra work — eg request for a new Ring category.

[2018-07-20 15:38] bmann commented on #3
Have initiated the transfer, should arrive Tuesday. Leaving open until confirmed paid.

[2018-07-20 17:02] bmann opened #5 "Write post with final links and request for feedback"
First draft is on HackMD https://hackmd.io/s/S1DPPOJEm

My intent is to post this to the forum and send via email to registrants.

[2018-07-21 15:14] #3 closed

[2018-07-23 08:49] bmann opened #6 "Match up videos and talks from Council of Berlin"
Review the [Council of Berlin agenda](https://github.com/ethereum-magicians/scrolls/wiki/Council-of-Berlin-Agenda), there are video links needed.

This is related to the discussion on video & still photos https://ethereum-magicians.org/t/feedback-help-wanted-council-of-berlin-raw-video-viewly-descriptions-and-titles-still-photos-licensing/838

Basically, look at what has been uploaded to Viewly ht

[2018-07-23 08:50] bmann commented on #5
@jpitts gave a review, thank you! I'm going to post to forum and turn this HackMD private.

[2018-07-23 08:50] #5 closed

[2018-07-23 10:22] bmann opened #7 "Create YouTube shorts for each video uploaded to View.ly"
This way we'll have entry points near most of the Ethereum-related videos.

[2018-07-23 10:29] bmann opened #8 "Investigate Open Collective for use in tracking expenses, taking fiat payment"
I am going to investigate using Open Collective https://opencollective.com so we can transparently track expenses, potentially use it accept fiat, and see what else it is useful for.

[2018-07-23 11:59] bmann commented on #8
OK, I've got something basic setup, and have invited @jpitts in as a Core Contributor. See https://opencollective.com/ethmagicians/

It supports events (yay!) but the ticket / registration is pretty basic. I would use it mainly for collecting fiat sponsorships and re-imbursing expenses.

See https://opencollective.com/ethmagicians/events/council-of-prague-18470ev for me putting in a Prague event.

[2018-07-23 12:00] ligi commented on #8
For tickets you might want to look into: https://pretix.eu/about/de - we could even do some blockchain experiments on top of this.
That said: this issue feels a bit miss-placed in "scrolls"

[2018-07-23 12:12] bmann opened #9 "Change name of Working Groups to Rings"
Category is called Working Groups https://ethereum-magicians.org/c/working-groups -- we should change the name to Rings.

Also, the "about this category" could use editing and point to the wiki and such https://ethereum-magicians.org/t/about-the-working-groups-category/305

[2018-07-23 18:49] fubuloubu opened #10 "Allow users to suggest "Fields" for topics in "Rings""
Allow suggestions of tag for specific ring (focused topic) by users.

Specifically, the following two threads are in the Working Group tag, but do not have a focused topic sub-tag (e.g. "Security Ring" here):
https://ethereum-magicians.org/t/proposed-gathering-of-the-security-community/356
https://ethereum-magicians.org/t/what-is-a-security-audit/358

P.S. the focused topic of each ring should be

[2018-07-23 21:39] bmann commented on #10
I haven’t added an issue yet, but I’d like to turn on Discourse tag support, then people can do cross category searches / watching more easily.

I don’t think users can do this, but OP I think has the power too.

So — you can DM the OPs to edit & recategorize add them to the Security Ring.

Or @jpitts will wave his admin wand ;)

[2018-07-25 09:10] bmann opened #11 "Turn on tags support in Discourse"
This is a configuration that can be enabled, with lots of tweaks.

Here's a great blog post from the Discourse team about using tagging: https://blog.discourse.org/2017/10/its-time-we-talked-about-tags/

I think tagging EIPs in particular will be a really interesting use case, but of course it's all self organizing.

You can also set notifications per tags as well as per categories so get very fin

[2018-07-27 10:55] MaxSemenchuk opened #12 "Pls create a subtopic for Working Groups / EthSignals on forum"
https://github.com/ethereum-magicians/scrolls/wiki/EthSignals-Ring

[2018-07-27 10:55] MaxSemenchuk commented on #12
@jpitts

[2018-07-28 16:10] mudgen opened #13 "Add EIP 998 to Token Standards Ring"
Please add [EIP 998](https://eips.ethereum.org/EIPS/eip-998) to the list of token standards:  https://github.com/ethereum-magicians/scrolls/wiki/Token-Ring

[2018-07-29 15:20] bmann commented on #13
@mudgen looks like you edited in, so I'm closing.

Where to put stuff -- e.g. @PhABC's comment on putting it in a repo -- totally up for discussion. We can jointly use this Scrolls repo, or you can make a shared token ring repo in this EthMagicians organization as a neutral / shared space.

[2018-07-29 15:20] #13 closed

[2018-07-31 20:41] jpitts commented on #12
I have created a "Signaling Ring", simplifying from EthSignals and using a form more widely used in discussions. If the ring comes to a better term, we can easily change it.

[2018-08-01 06:14] bmann commented on #12
Thanks Jamie.

[2018-08-01 06:14] #12 closed

[2018-08-01 12:04] MadeofTin opened #14 "Suggest Turning on Group Functionality for Discourse"
I did some digging and it is possible to create self selecting groups around rings which seems to be ideal for us. https://meta.discourse.org/t/self-selecting-groups/93646

 :white_check_mark: Allow users to join the group freely (Requires publicly visible group)
:white_check_mark: Allow users to leave the group freely

Can we turn on this functionality?

[2018-08-01 12:50] bmann commented on #14
It's turned on by default, but group _creation_ isn't open to everyone. I think we'll want to use the same process for Forming a Ring, where a group being created is part of it.

@ligi want to have a Wallet Ring "group" to start with?

@jpitts can you set that up?

[2018-08-01 12:52] ligi commented on #14
yes - a wallet group to e.g. easily be able to invite all members to a gathering would be great!

[2018-08-04 03:07] bmann opened #15 "Community events website for Council, Ring, and other events"
I made an events site for future councils, ring events, and other Ethereum community events.

See https://sleepy-williams-401b9e.netlify.com/

I was the one that made a website for Berlin Council, and I think making a whole website is overkill. I replicated the whole website in one page here https://sleepy-williams-401b9e.netlify.com/events/2018-council-of-berlin/

It's a standard Jekyll site, so

[2018-08-05 15:23] bmann opened #16 "Submit workshop or breakout room talking about FEM to DevCon4"
@jpitts & @gcolvin I am putting in this entry to note that you two are going to work on this.

[2018-08-07 15:18] aogunwole opened #17 "Add ETH Berlin to Community Events List"
title: Decoding Token Engineering Workshop
excerpt: A comprehensive workshop featuring the token experts of OST and Ocean Protocol sharing their knowledge on the best ways to design and engineer a token economy as well as optimal use cases for application. Part of the larger Berlin Blockchain Week of events.

event:
  start_date: 2018-09-06 13:00
  end_date: 2018-09-06 17:00
  location: Ocean Prot

[2018-08-08 16:14] bmann commented on #17
Closing this here, because this is not going to be an "official" FEM project, See https://github.com/bmann/ethereum-events/issues/1

[2018-08-08 21:17] jpitts commented on #11
This has been enabled. We'll discuss on the Forum how to best use this.

[2018-08-08 21:39] jpitts commented on #14
As part of the process for setting up a Forum Group for the Ring, we will need for the Ring leaders (sounds nefarious LOL) to specify the configuration.

![image](https://user-images.githubusercontent.com/509756/43865924-de2b0080-9b18-11e8-9cd1-4b0c6c92aecd.png)

[2018-08-08 21:42] jpitts commented on #14
For now, I will create a demo Forum Group for a new membership-only ring I am proposing called "Magician Operations Ring". This will be a Ring for those involved in managing resources such as the Forum and GitHub repo.

[2018-08-08 21:54] MadeofTin commented on #14
Would each ring need is own lead? or is there a group of leads that have access to these Permissions? In the formation requirements of a ring we can stipulate that a Ring Lead be identified to handle these roles.

Also, under the Operations ring would @bmann 's work with the Events site fit?
I can see an Events Ring that focus on bettering events in Ethereum overall. Or, I could see an Operations

[2018-08-08 22:29] jpitts commented on #14
@MadeofTin:

We'd need one or more leads for a Ring in order to grant the group privileges, ring formation is a good time to do this, and at each council we can make it part of the process to update the status of each Ring.

Operations is definitely for managing resources such as the events website, the repo, infrastructure of the Forum, dev needs, etc.

There is a moderators role in the Forum, pe

[2018-08-08 23:09] bmann commented on #11
Thanks Jamie!

[2018-08-08 23:09] #11 closed

[2018-08-08 23:28] fubuloubu commented on #10
But they're not called fields... 😭

[2018-08-08 23:28] #10 closed

[2018-08-12 15:48] bmann commented on #15
Doing this in the bmann/ethereum-events repo, not going to ford this to be maintained by Magicians.

[2018-08-12 15:48] #15 closed

[2018-08-19 12:30] ethernian opened #18 "New Category for "Ring of Ethereum Architects""
Please create a new Category for the "Ring of Ethereum Architects".
Thank you in advance!

[2018-08-23 15:06] bmann opened #19 "Can we make the default home page be category view?"
As per @gcolvin discussion here: https://ethereum-magicians.org/t/choice-principles/1124/7

Is there a setting where we can make the default or non-logged-in user view be the categories page: https://ethereum-magicians.org/categories

[2018-08-30 17:01] jpitts commented on #19
I left it in the current mode in order to increase serendipity, but it is true this is now too much. Will revert to category view shortly...

[2018-09-04 05:54] bmann commented on #19
I like Latest, but perhaps useful for newcomers to orientate themselves. Cheers!

[2018-09-04 05:54] #19 closed

[2018-09-04 05:55] bmann opened #20 "New group: Prague Volunteers"
I'd like a new open group, Prague Volunteers, that people can add themselves to and that is publicly visible. I'll use it just for PMs, basically like a mailing list.

[2018-09-06 00:47] jpitts commented on #20
This is ready, let me know if it is configured correctly...

[2018-09-13 23:05] bmann commented on #20
Thank you Jamie, all good!

[2018-09-13 23:05] #20 closed

[2018-09-16 20:37] bmann opened #21 "Map ethmagicians.eth to the operations wallet"
[@FlashyQpt grabbed ethmagicians.eth for us](https://twitter.com/FlashyQpt/status/1041409386499989510) -- thank you!

@jpitts can you connect and see about getting it pointed at the donations address please

[2018-09-16 20:47] Flash-Git commented on #21
I'll transfer ownership to whatever you like, I already set the resolver and I'm happy to set the reverse record and resolver's address too.

[2018-09-19 07:58] tomislavmamic commented on #7
Guys, can you please tell me more about this idea? Maybe we at Viewly can engage our creators to do these short videos? What would be their purpose?

[2018-09-23 21:16] bmann commented on #7
This was @jpitts idea about the full length videos from Berlin from the livestream.

Taking the full videos and editing into some shorter clips, especially comments from individual people.

[2018-09-26 14:58] bmann commented on #16
Accepted! Now we need to work on it.

[2018-09-26 14:58] #16 closed

[2018-09-26 21:00] bmann opened #22 "Revamp EthMagicians donations leaderboard"
Our donations leaderboard is at https://donations.ethereum-magicians.org. The repo is at https://github.com/ethereum-magicians/donation-leaderboard -- it runs on Netlify.

It's a fork / branch of the Giveth leaderboard code https://github.com/Giveth/donation-leaderboard

The address goes to a multi-sig wallet that @jpitts and I currently are the two signers for.

It needs to be:
* branded and mess

[2018-09-26 22:27] bmann commented on #22
Wrong tag @pet3r-pan

[2018-09-27 07:55] pet3r-pan opened #23 "Is it possible for someone to move the ownership of Berlin Council"
Is it possible for someone to move the ownership of the Berlin Council repo from the Ethereum-Magicians org into their personal profile?

It kinda bugs me that in the ethereum-magicians org that this is the only repo that is an event lol

Previous thread: https://github.com/ethereum-magicians/berlin-council/issues/6#issuecomment-424889894

[2018-09-27 20:02] lrettig opened #24 "Update EthMagicians multi-sig with more keyholders and policy"
Hello,

With a substantial, generous donation from Cindicator + BokkyPooBah, in addition to many smaller donations, the existing FEM wallet currently has 43.39 ETH, an amount that can be expected to grow over time. I am very grateful to @jpitts and @bmann for managing this process up to now, but I think we can probably all agree that decentralizing governance and management of these funds is in ev

[2018-09-27 20:15] pet3r-pan commented on #24
Just to clarify:

I did not raise it in light of the Magicians but directly instead asked as an individual for a donation to help make and fund bounties in the community. The funds were sent on the trust that I use them with the initial purpose and in the best interests of the community. I do not see the funds as part of the current FEM wallet and any previous function of the Magicians.

That give

[2018-09-27 20:20] pet3r-pan commented on #24
But this is also nonetheless a very important issue that has now come to our attention!

[2018-09-28 03:01] bmann commented on #22
I believe @asselstine said that we was going to look at taking this on.

[2018-09-28 03:06] pet3rpan commented on #22
Hello,

I am not sure who this is, but I have no idea what this is about. The
GitHub tag @pet3rpan <https://github.com/pet3rpan> was used for school work
so I think you may have the wrong person. Apologies for any inconveniences.

Cheers,
Peter

On Thu, Sep 27, 2018 at 8:02 PM Boris Mann <notifications@github.com> wrote:

[2018-09-28 03:16] asselstine commented on #22
@bmann I'm just having a look at it now!

[2018-09-28 04:35] bmann commented on #24
@pet3r-pan let's talk source of funds in the forum https://ethereum-magicians.org/t/discussion-about-bounties-and-in-general-governance-of-donated-funds/1485/6

In short: if it isn't meant to be for the Magicians as a whole, I personally don't want it in the wallet.

@lrettig let's call this issue the "upgrade the EthMagicians wallet multisig" -- governance as a whole is more of a longer discussio

[2018-09-28 08:11] bmann commented on #22
Here is a link to @asselstine's revamp of the donations leaderboard https://zen-shirley-5f0272.netlify.com/ -- amazing, thank you!

I would say we want to remove the "offchain thanks" section completely -- that section could be more reserved for "Current Events" or similar -- it is simple enough that major sponsors and a link to the current event / donation push could be highlighted there.

@assel

[2018-09-28 16:06] asselstine commented on #22
@bmann A PR has been opened here https://github.com/ethereum-magicians/donation-leaderboard/pull/2

[2018-09-29 13:28] pet3r-pan commented on #22
Would love for someone to take lead of this project. Maybe setup a 1hr workshop for us to hash out the general comms for the leaderboard if not any other fund raising strategy.

Taking offline councils to the virtual ;)

[2018-10-19 20:57] mattisstenejohansen opened #25 "New Category for "Decentralization Ring""
Please create a new Category for the "Decentralization Ring"
Thank you in advance!

[2018-10-31 00:46] bmann opened #26 "Review of Brett's Discourse account"
Hey @jpitts -- [Brett @DBrettRobertson](https://twitter.com/DBrettRobertson) has his account locked on the Discourse forum:

![image](https://user-images.githubusercontent.com/280420/47759177-aa09f680-dcae-11e8-81f9-63da00dde421.png)

He needs his account unlocked.

[2018-10-31 08:52] DBrettRobertson commented on #26
Thank you Boris et al. the account is now unlocked. Appreciate your help.

[2018-11-01 00:26] bmann opened #27 "New Category for Introductions"
Rather than an introductions "topic", have an Introductions category.

This can be part of a more long lived introduction by people.

[2018-11-01 10:22] ligi opened #28 "New SubRings [mobile,hardware,desktop]wallet"
In our working group we found out we need subrings to scale. The outer ring stays in existence - but topics only relevant to the special platform can be discussed in subrings to be effective. Would be great to have them in discord.

[2018-11-06 18:12] pedrouid opened #29 "Update Discourse version to be compatible with Mobile App"
Discourse's mobile app has changed a lot in the last update (looks great, it's now called Discourse Hub) but it requires Discourse forums to update to the latest version to be compatible with the new app. I would love to continue using Ethereum Magicians on it hence this issue 😍

[2018-11-06 18:14] pedrouid commented on #29
I know that this breaking change has happened at least on iOS but not sure if it's also true for Android because the screenshots on Play Store look outdated

iOS: https://itunes.apple.com/us/app/discourse-app/id1173672076?mt=8
Android: https://play.google.com/store/apps/details?id=com.discourse&hl=en_US

[2018-11-07 10:05] #28 closed, assigned to nobody

[2018-11-07 14:38] bmann opened #30 "Download a copy of video from Council of Prague"
Joseph Bagaric and the Chrono Logic team shared the raw footage here https://www.dropbox.com/sh/vod004nk7rpqkcm/AABBf-bWeCuop7SFTBM4Nyzca?dl=0

Joseph will also be editing it and posting to YouTube, but that may take a little while.

For this item, please leave a comment once you have stored a copy somewhere, including a link.

Also needed, is a description of the file name to when / where it was

[2018-11-07 19:33] jpitts commented on #29
DIscourse has been upgraded, try this on your iOS device now...

[2018-11-07 22:01] pedrouid commented on #29
Perfect!! 🙌 Thanks

![img_2638](https://user-images.githubusercontent.com/10136079/48163825-94d82d80-e295-11e8-847c-0e082e9e1dec.png)

[2018-11-07 22:01] #29 closed

[2018-11-09 07:13] p0s opened #31 "New Category "Provider Ring" for Ethereum providers"
Please create a new Category for the Ethereum providers called "Provider Ring".

[2018-11-12 02:34] bmann commented on #31
@p0s we need to work on a Github issue template for this, can you please add more context?

I _think_ you mean Ethereum web3 providers?

Can you also write a short "about" that will appear at the top of the forum category. Here's the Wallet Ring as an example: https://ethereum-magicians.org/t/about-the-wallet-ring-category/810

@jpitts is the one with the keys to do the actual creation.

[2018-11-12 10:20] p0s commented on #31
@bmann You are right. It is about Ethereum web3 providers.
Sure, I put all the information into the following forum thread: https://ethereum-magicians.org/t/forming-a-ring-provider-ring/1852

[2018-11-12 16:55] bmann opened #32 "Transfer ETH to Josef for Catering Payment"
Josef's company Polynom was the Host Organization for Prague. He arranged for catering and took in fiat funds from sponsors.

As per the [Prague budget](https://docs.google.com/spreadsheets/d/1Vm5fjJn3UnloSEQsj2ChMyowfEhOEE71ZnZWwB3VWtM/edit#gid=3), $3434.86 needs to be transferred to Josef so he can pay the remainder on the catering invoice.

[2018-11-12 17:51] #26 closed

[2018-11-12 17:54] bmann commented on #24
We need to make a payment to Josef #32 to cover catering.

I'm experimenting with [Multis](http://multis.co) -- a web UI on top of Gnosis Wallet that should make it easier for us to add people and give them access, as well as take notes on transactions.

I have invited @jpitts to the interface as the other keyholder.

On this topic, we discussed at [Meta Magicians in Prague](https://ethereum-magic

[2018-11-12 17:58] #17 closed

[2018-11-12 17:59] bmann commented on #2
Closing for now as good first version.

[2018-11-12 17:59] #2 closed

[2018-11-12 18:03] bmann commented on #23
I archived it.

[2018-11-12 18:03] #23 closed

[2018-11-12 18:05] bmann commented on #22
Done! Thanks again @asselstine

[2018-11-12 18:05] #22 closed

[2018-11-12 18:06] bmann commented on #18
Done! https://ethereum-magicians.org/c/working-groups/ethereum-architects

[2018-11-12 18:06] #18 closed

[2018-11-12 19:13] bmann opened #33 "Feedback for Council of Prague"
Several people

Things we might want to do:
- [ ] Email to all Council of Prague participants -- use content from wrap up post, ask for feedback, point to forum, other messages ???
- [ ] Wrap up post to the forum -- sponsor thanks, ring summary, pointer to place for followups
- [ ] Create a feedback form for structured / semi-private feedback

For Berlin, I think we got two form submissions of str

[2018-11-12 19:18] asselstine commented on #22
No worries @bmann :)

[2018-11-12 19:31] bmann commented on #32
I initiated transfer, which as of today is 16.32 ETH. @jpitts over to you to turn the other half of the key.

[2018-11-14 22:39] bmann commented on #33
I did an invite for "open" unstructured feedback https://ethereum-magicians.org/t/open-feedback-thread-for-council-of-prague/1884/, so re-worded that first checkmark item

[2018-11-19 02:34] p0s commented on #31
@jpitts could you look into creating the category?

[2018-11-28 19:36] pet3r-pan commented on #27
meta

[2018-11-28 19:37] pet3r-pan opened #34 "New category "ETHProduct" for the newly formed product management ring"
Introduction post created: https://ethereum-magicians.org/t/forming-a-ring-product-management-ring/2066

[2018-11-29 10:55] p0s commented on #31
Thanks for adding the category 👍

[2018-11-29 10:55] #31 closed

[2018-12-01 02:36] bmann commented on #27
@pet3r-pan what do you think? Good idea? yea or nea?

[2018-12-01 02:36] bmann commented on #34
Great, thanks @jpitts for creating this!

[2018-12-01 02:36] #34 closed

[2018-12-01 08:37] bmann commented on #27
Note: I'm using Discourse terminology -- so topic means an original post and threaded responses, and category is ... a category :)

There is a [Big introduce yourself topic from March 2018](https://ethereum-magicians.org/t/the-big-introduce-yourself-thread/75).

Can we make an "Introductions" or "Welcome" or "Know Your Members" or "Wand Holders" category, which is about welcoming new members, teac

[2018-12-02 02:23] unpack5 opened #35 "Not getting verification mails"
I've tried three different providers but the mails don't arrive, therefore I can't register to the site.

Could you look into the queue and check if mails are being sent out? I made all three request in about the past hour.

[2018-12-02 23:44] pet3r-pan commented on #27
Wand holders category or noobs category. I think this is definitely needed!

Good idea for more content and advice for new users on how to get the most out of the forum and FEM as a whole.

You have achieved rough consensus ;)

[2018-12-02 23:44] pet3r-pan commented on #34
thank you @jpitts

[2018-12-04 00:10] pet3r-pan commented on #1
#DecentralizeJemenger

[2018-12-04 00:11] pet3r-pan commented on #4
Still need this? Might be part of the effort of #27

[2018-12-04 01:35] bmann commented on #27
Assigning to @jpitts -- can we get an "Introductions" category?

[2018-12-04 01:36] bmann commented on #4
Yes, still needed!

We've never written about using this Scrolls wiki or the repo / issues.

If you want to help manage issues, you should .... file an issue asking to be added as a maintainer here!

[2018-12-04 01:37] bmann commented on #35
@jpitts can you please take a look at this.

[2018-12-04 02:06] pet3r-pan opened #36 "Application to be an interim github maintainer"
I believe my 24/7 online internet presence along with my burning desire to clean up the issues backlog may potentially be an welcome spiritual addition to the hallways of the often-quiet and echoy halls of the scrolls repository.

Officially as of today, AEST Tuesday 4th of December: 1:04pm - Aye, Pet3rpan of house Ethereum would like to announce an formal expression of interest to become an inter

[2018-12-04 02:12] pet3r-pan commented on #35
I just used gmail to sign up and received the confirmation email.

[2018-12-04 05:02] bmann commented on #35
I asked the user to post here. Their particular account / emails weren’t getting through, across three email addresses.

[2018-12-06 03:40] pet3r-pan opened #37 "Generate and implement new ideas for tags"
On the discourse forum, we are able to have tags as shown below. We can create any tag and give people tags on certain occasions or conditions etc. (eg. donated to ethmagicians = doner, or active member = no-lifer)

![image](https://user-images.githubusercontent.com/25356454/49559801-1d64ef00-f964-11e8-8bd3-91fea99dca60.png)

These tags can be made from text along with any icons from the font-awes

[2018-12-06 03:54] jamesyoung commented on #37
Project/group affiliations? Possible to put in links to Twitter/Peepeth profile?

[2018-12-06 04:51] pet3r-pan opened #38 "Write an thread that introduces new members"
Write an thread that introduces new members into the magicians forum, what the magician provides, the various activities that are carried out, where all the resources are, provides a guides on how to gain the most value out of the magicians etc.

[2018-12-07 21:00] bmann commented on #37
@pet3r-pan just clarifying that those "tags" are group affiliations.

We can create Discourse groups at will, and make them public / private or something in between. The public ones can be ones that users can join.

@MadeofTin wrote this up before, see https://github.com/ethereum-magicians/scrolls/issues/14

I would like to see this turned on. Probably this is actually a dupe of #14 -- what do you

[2018-12-08 02:06] ligi commented on #36
I support this endeavor! That said I think we should think about switching to a system like [pando](https://github.com/pandonetwork/pando) - a) for dogfooding b) this process here and using github feels a bit wrong in this context

[2018-12-08 03:36] pet3r-pan commented on #37
@bmann Yeah I think that these tag are for group affiliations (categorised rings) but also potentially for any other purpose eg. for MVP volunteers of councils (they get a cool unique tag such as Prague '18).

I just dug through metacartel's admin panel and yes, you can create groups where members automatically get the option using a new tag (or title) next to their username.

[2018-12-08 04:35] pet3r-pan commented on #36
@ligi Potentially that could be one of the  'epics' that we work on throughout 2019?

[2018-12-08 12:32] pet3r-pan commented on #36
@osarrouy We have yet to figure that out ~ but this is something definitely we want to potentially push for next year.

[2018-12-08 21:30] jpitts commented on #36
@pet3r-pan, I have invited you to the ethereum-magicians "operators" team on GitHub.

[2018-12-09 02:17] bmann commented on #37
Using groups for Rings means mailing list mode for ring owners which is a little more effective than hoping people see category posts.

And, open groups for Rings means people can self select what they want to show they are involved with.

It also would mean we could identify people who are actually organizers of a group / Ring — which isn’t captured anywhere.

Groups don’t really do categorizatio

[2018-12-09 03:02] pet3r-pan commented on #37
For ring organisers, we can manually give them a badge or title.

[2018-12-09 03:13] pet3r-pan commented on #36
@jpitts thanks, I am added to the org but I think you still need to give me permission in this repo itself. Can't tag things / edit etc.

[2018-12-10 20:34] jpitts commented on #36
Ah, I just added you to "Librarians"...

[2018-12-10 21:34] pet3r-pan commented on #36
*successfully infiltrated the magicians*

[2018-12-11 00:40] pet3r-pan commented on #7
@bmann Do you think we still need this? If so, at the least we should upload these videos also onto youtube as a backup. I can't download the view.ly videos + the dropbox link of raw footage is broken.

Proper archiving of councils are really important imo and should have a efficient protocol behind them.

[2018-12-11 00:44] pet3r-pan commented on #25
The thread of this ring's introduction: https://ethereum-magicians.org/t/forming-a-ring-decentralization/1516

[2018-12-11 00:47] pet3r-pan opened #39 "Create magicians ring organisers kit for forming and maintaining a ring"
- Template document for creating ring outlining certain details
- Recommended tools to use
- ETHmagicians processes to participate in (magicians global calendar, github ring directory listing etc.)

[2018-12-11 00:56] pet3r-pan opened #40 "Create protocol for post-council operations"
The creation of a guide / to do list of suggestions to everything that may need to happen after the council...

eg.
- Upload video content onto view.ly & youtube
- Post magicians thread to gather council feedback
- Email feedback post to participants, shill on twitter
- Archive council ring notes and outcomes

This may play into a potential bigger part of creating an 'councils toolkit' just like h

[2018-12-11 00:57] pet3r-pan commented on #33
@bmann I assume we can close this issue? To improve future operations - I have made a note for an issue to for an post-council protocol to do list #40

[2018-12-11 01:06] pet3r-pan opened #41 "Explore the transition of the Magicians github into using Pando Network"
Reference https://github.com/ethereum-magicians/scrolls/issues/36#issuecomment-445421143

[2018-12-11 01:37] bmann commented on #33
Well, I guess we can close it, but none of it actually got done because no one volunteered. Not sure if we just need to shill more or what. Obvs with DevCon right after everyone was totally overworked.

[2018-12-11 01:37] #33 closed

[2018-12-11 01:41] bmann commented on #7
Yes the Dropbox is gone. I believe @jpitts has a backup of the originals, I do as well.

Can close this.

[2018-12-11 01:41] #7 closed

[2018-12-11 01:47] pet3r-pan commented on #30
Pt.1 https://drive.google.com/open?id=1onX0bkVN6tP807-hP1HkZFHjZJ7m1I3Z
Pt.2 https://drive.google.com/open?id=1KO6DWqFyXXbIVYqx5KPRc7UHq5ZzcqWj

Still need to do the Cannon M50 videos ~ I have run out of space on my computer. I regret buying 256 gbs

https://www.dropbox.com/sh/vod004nk7rpqkcm/AAALtqprW7Yt63Q3P6tROHLoa/Canon%20M50?dl=0&subfolder_nav_tracking=1

[2018-12-11 01:51] pet3r-pan commented on #32
@jpitts has this been completed?

[2018-12-11 14:16] tomislavmamic commented on #7
I believe I have the back up files as well

[2018-12-11 18:49] unpack5 commented on #35
@bmann Could you please ping Jamie on another channel?

[2018-12-13 19:56] jpitts commented on #35
@unpack5, I cannot find you in the https://ethereum-magicians.org user db, are you using a different name or GitHub user ID to log in?

[2018-12-13 21:30] unpack5 commented on #35
@jpitts yes, my main intended registration is under a different username (which I don't want to link to my Github).

My registration is still there since I can't register with the same name. After my login attempts, the site says I can't proceed because I need to verify ma mail. I can request a re-send, but nothing arrives. I'm using a reputable paid e-mail service, thus my frustration.

Is there

[2018-12-14 05:51] jpitts commented on #35
@unpack5 you can find me in Riot/Matrix at https://matrix.to/#/@jpitts:matrix.org.

[2018-12-14 20:09] bmann commented on #32
This has been completed, as we just had to transfer a top up because of price changes.

[2018-12-14 20:09] #32 closed

[2018-12-15 01:13] jpitts commented on #38
Ok, here is my first draft of this: https://github.com/ethereum-magicians/scrolls/wiki/New-Member-Guide

[2018-12-15 21:40] pet3r-pan commented on #38
@jpitts Thanks for kicking this off! Might add to it over the next couple days

[2018-12-17 15:34] jpitts opened #42 "Update the Forum "planners" group"
Add organizers of the upcoming Council.

[2018-12-17 15:41] jpitts commented on #42
@bmann, the current set of organizers in Forum "planners" are from the Council of Prague. There is perhaps one or two discussions appertaining to that Council.

Should we create add/remove from this group ahead of each Council, which would change who can view older discussions?

My current thinking is to leave current participants for a time period, enabling them to advise the next Council planner

[2018-12-17 16:45] jpitts commented on #42
Another question is about access to Google Docs / Sheets related to the 2018 Council of Prague, particularly the sponsor-related docs. Should the 2019 Council of Paris planners have access to that information?

[2018-12-17 20:19] bmann commented on #42
This link is "View only" top level folder for all EthMagicians stuff that I've touched -- https://drive.google.com/drive/u/0/folders/1s4yqkN41DCow5jcG7KjhoZGxH_nIs5Y3

There are sub folders per council.

I would suggest GDoc stuff follow the pattern here. I can give edit control of a 2019-03 Council of Paris to Tomislav, Eternian, others as needed.

I have updated the Infrastructure page with thes

[2018-12-18 00:59] bmann opened #43 "Create budget template for Paris 2019"
I cloned the Prague one, still need to do edits https://docs.google.com/spreadsheets/d/1PKimcwUvPqtjn02-jL07gq3KyDLKD3-i1K5qd6pRXg0/edit#gid=3

Talk to Jerome about:

- [x] video and/or livestream
- [x] catering
- [x] venue costs

[2018-12-18 01:09] bmann opened #44 "Talk to Open Collective about how/if to setup EthMagicians EU edition"
I set up a US-sponsored organization already. Should we have a separate EU one? What's the best way to set this up?

I will ask this publicly here --> https://forum.opencollective.com/

[2018-12-18 01:15] bmann opened #45 "Decide on sponsor tiers for Council of Paris 2019"
Typically, we have had:

* Community Tier -- a low cost tier equivalent to $1000USD worth of ETH
* Video -- $3000USD
* Food -- $3000 - $5000USD (can be smaller by splitting out coffee & lunch)
* Venue -- depends on cost

This has all been driven by costs, plus a good 30% or so buffer.

@ethernian do you have this somewhere yet? Are you taking ownership of this? I can build this into the budget #43

[2018-12-18 01:19] bmann opened #46 "Landing page for Council of Paris 2019"
The last two were hosted on the Ethereum Events Global that @bmann maintains --> eg https://ethereumevents.global/events/2018-council-of-prague/

It's unclear if these web pages have added valuable. They are a prettier place to link to for sponsors and have design flexibility, but also meant another page for registration.

Suggest picking a ticketing platform first, and just using that as the "hom

[2018-12-18 01:49] bmann commented on #8
I'm going to look more at this along with #44

Specifically, this is likely the best way to be transparent around costs and sponsorships. Can experiment with @jpitts submitting (e.g.) hosting expenses to this existing org.

[2018-12-18 08:31] jpitts opened #47 "Reach out to Ring contacts"
- Ping the Ring contacts and regulars, take note of where each Ring is.
- Find out about participation in EthDenver and EthCC
- Find out what they generally need to happen over the next few months
- Let them know we will be organizing pick-up tasks, will ping them again to add some

[2018-12-18 13:55] ethernian commented on #43
### Venue costs
@jdetychey have proposed 2-3 amphitheaters, but we have preferred a one big flat room for many working groups with few smaller private rooms for private conversations. This is because we will not few speakers for big audience, but many (ad-hoc) working circles. It is possible too.

### Video and/or livestream costs
How it depends on venue? Consider we have a big room with flexible

[2018-12-18 14:35] ethernian commented on #45
Boris,
could you suggest more sponsors and put them into [the spreadsheet](https://docs.google.com/spreadsheets/d/1LUltbNvKOL7WjNaTViDMCmrTcL8bTHR5LBZC_t7qZhI/edit#gid=0)?

[2018-12-18 14:38] ethernian commented on #45
one more question:
how do you deal with unspent sponsors money?
Is it ok to have a buffer and to raise more funds or general expectation is to meet the expected expenses exactly?

[2018-12-18 15:09] bmann commented on #45
@ethernian you can look at past sponsors from the budget sheets. I don’t have a big list anywhere.

Yes, I recommend raising “more” than is needed — cost plus a buffer. Once I have the budget filled out we’ll know what we need.

We have the ETH in the donations wallet that includes previous funds we can use.

[2018-12-18 15:13] bmann commented on #43
Still need venue costs regardless of layout.

Video: I would recommend just one crew to cover the “main stage”. I can estimate until we get some quotes, likely $2K USD for the day. If ETHCC already has a crew, catering, etc may need to extend for a day.

This is assigned to me, will follow up with Jerome.

[2018-12-18 16:41] bmann commented on #43
OK, I have done a first pass at the budget https://docs.google.com/spreadsheets/d/1PKimcwUvPqtjn02-jL07gq3KyDLKD3-i1K5qd6pRXg0/edit#gid=3

Note: I have no idea what costs actually are, so those are just estimates.

Knowing how many people will attend is a big driver of costs -- as catering is the big one.

We might just do lunch to save a bit of money, but I've kept coffee + lunch in the budget fo

[2018-12-18 18:56] pet3r-pan commented on #47
This might help https://docs.google.com/spreadsheets/d/1Wg_eX-mYopvWT3LeHe4-FEHOtJoG28h8YcHl4PFTX5k/edit#gid=0

[2018-12-20 07:56] tomislavmamic commented on #45
This is in progress. Due date this Friday.
Can I get the access for managing the backlog?

[2018-12-20 14:38] bmann opened #48 "Repo issue access for Tomislav"
@jpitts @ligi please give @tomislavmamic access to manage issues

#45

[2018-12-20 14:44] ligi commented on #48
invited him to the org - not yet sure in which teams to put him - Librarians?

[2018-12-20 18:09] pmauric opened #49 "Create two new ring categories on FEM forum"
"Fund Recovery Ring" and "Multisig Ring"

Thanks!

[2018-12-20 18:14] pmauric opened #50 "Create new category under "Fellowship Gatherings""
Hackathons - there has been interest in doing some governance signaling hackathon from both the team that emerged from the Council of Berlin and others. Figured it's a different sorta gathering to tackle so it deserves its own category.

Thanks

[2018-12-21 17:00] tomislavmamic commented on #43
I have created the template for the budget and additional sheets for more details about each type of cost so all the calculations can be done in one spreadsheet.

[2018-12-21 18:32] bmann commented on #48
@ligi I don't know how the Teams are defined. Whatever gives issue queue management.

[2018-12-21 21:42] bmann commented on #43
OK, great. Marking this as closed then.

[2018-12-21 21:42] #43 closed, assigned to bmann, tomislavmamic

[2019-01-05 12:44] Flash-Git commented on #21
I've pointed ethmagicians.eth at the donation address found on https://donations.ethereum-magicians.org/, `0x85cab7143ff3c01b93e88f5b017692374bb939c2`.

It's totally functional now (I double checked) but I'm still set as the owner, let me know when you're ready for the proper handover!

[2019-01-08 10:36] markoprljic commented on #46
My suggestion would be to have the event on multiple places "featured". A dedicated website is mandatory IMHO, aside from ticketing service landing page and Ethereum events site.
We can create a simple one-page landing page (marketing site) to promote this and future events and CTA's can link to a single ticketing service of choice.
@tomislavmamic will probably prepare content and CTA and I can ta

[2019-01-08 11:03] tomislavmamic commented on #46
Hi, I agree with @markoprljic . I'll draft the text and CTAs for website, and add links to existing media from previous events.

[2019-01-08 19:08] jpitts opened #51 "Maintaining user groups for Rings on the FEM Forum"
This is for a @ligi suggestion for messaging members of a particular ring inside of FEM Forum messages.

https://ethereum-magicians.org/t/ping-a-ring-from-a-post/2356

[2019-01-08 19:09] jpitts commented on #50
Sorry the run-up to the holidays distracted me from monitoring the issues, I should be able to get to it tomorrow.

[2019-01-08 19:10] jpitts commented on #49
Sorry the run-up to the holidays distracted me from monitoring the issues, I should be able to get to it tomorrow.

[2019-01-08 19:14] bmann commented on #51
This is a duplicate of #14 and related to #37

[2019-01-08 19:20] pmauric commented on #50
Cool thanks!

[2019-01-08 19:39] pcowgill opened #52 "Create a new category in the forum for the Mobile Ring"
Hi, can you please create a new category in the forum for the new Mobile Ring? Thanks!

https://ethereum-magicians.org/t/forming-a-ring-mobile-ring/2358

https://github.com/ethereum-magicians/scrolls/wiki/Mobile-Ring

[2019-01-08 22:41] bmann commented on #46
The "dedicated web page" doesn't seem to have gotten much traffic in the past.

I have created one in the same way I did the last two - see https://ethereumevents.global/events/2019-council-of-paris/

Please file issues in the repo there for edits OR pull requests. But don't feel you NEED to use that -- feel free to create a website using a different service.

I am going to call this the landing p

[2019-01-08 22:43] bmann opened #53 "Registration / ticketing solution for Paris"
Discussion was here https://ethereum-magicians.org/t/charging-for-tickets-participant-numbers-event-ticketing-for-council-of-paris-2019/2321

- [x] Wait for approval from pretix / go live
- [x] Add additional permissions to whomever is going to maintain / handle ticketing with Boris
- [x] Add questions / other text content

[2019-01-08 22:44] bmann commented on #53
As per forum thread, I have setup pretix and configured it for "manual" payment. When the event goes live, it will be here --> https://pretix.eu/ethmagicians/councilofparis2019/

[2019-01-08 22:48] bmann opened #54 "Emails for Council of Paris"
I needed a forwarding email as the contact address, so I created ```councilofparis2019 AT ethereumevents.global```

Who else is going to manage ticketing with me #53 and should be added to this email?

[2019-01-09 00:51] bmann commented on #8
OK, I'm closing this now. After talking to the founder and investigating this further, this CAN work for us instead of Host Organizations.

There are two collectives partially set up:
* US edition: https://opencollective.com/ethmagicians/
* EU edition: https://opencollective.com/ethmagicians-eu/

[2019-01-09 00:51] #8 closed

[2019-01-09 00:52] bmann commented on #44
For now, the way to do this is to have two collectives.

I have setup an EU one here https://opencollective.com/ethmagicians-eu/

[2019-01-09 00:52] #44 closed, assigned to bmann

[2019-01-09 19:51] bmann opened #55 "Volunteer sought: Manage DAI for Council of Paris ETH ticket payments & EthMagicians wallet"
We are using Pretix for #53 ticketing solution for Council of Paris. Instructions indicate to send ETH to the EthMagicians wallet*.

We also have the previous ECF donation for this event currently sitting in ETH.

I am suggesting that we transfer some ETH into DAI for the tickets as payments come in, and for the lump sum of the ECF sponsorship.

I am also asking for a volunteer to join @jpitts and

[2019-01-09 21:34] ligi commented on #55
I do not think we need to/should create a CDP - we can just exchange ETH->DAI - e.g. on https://oasis.direct

if no-one else steps up I could fill the role searched here - but would also be *very* happy if someone else is doing it as I hate dealing with significant funds.

[2019-01-09 23:31] meknab-zz commented on #55
Hi, I would be happy to help. I am the founder of a crypto accounting startup (http://www.veriledger.io )  and have experience managing crypto treasuries for companies I have worked at in the past. Happy to provide further background info and chat further.

[2019-01-09 23:33] Flash-Git commented on #55
Just caught up on the magicians' discussion, I've played around with maker's CDP and currently have a couple. I'd love to help!

[2019-01-09 23:55] ligi commented on #55
great we have some volunteers now that want to help! But we should really discuss if we need CDPs. IMHO we should not do this and just exchange ETH->DAI
What advantages do you see in using a CDP instead of just exchanging?

[2019-01-10 00:39] bmann commented on #55
@ligi I can't find the thread, but Aidan @chainsafe was suggesting it would be "Easy to setup a CDP", around when #24 came up.

I put "creating a CDP or however this works" -- because I don't know enough to make this decision and want the volunteer to have some expertise/experience and advise us.

There's a whole bunch of "treasury management" going forward, too. Scope for now is as listed in this

[2019-01-10 00:52] ChainSafeSystems commented on #55
@ligi I would be happy to help out with whatever DAI related, I totally agree that it makes most sense to just trade ETH -> DAI.

@bmann not sure if I can help on the fiat side of things, but I can help with the crypto.

[2019-01-10 00:55] bmann commented on #55
@chainsafe see the [discussion on EthMagicians](https://ethereum-magicians.org/t/stable-magicians-poll-exchange-vs-cdp/2377) for the context.

Let's keep this thread focused on identifying a volunteer, please.

@Flash-Git I DM'd you in the forum -- thanks! For reference, @Flash-Git reserved ethmagicians.eth as an ENS name, see #21

@meknab thanks so much for posting here and DM'ing on Twitter. I t

[2019-01-10 00:58] meknab-zz commented on #55
Sure, happy to contribute however works best. IMO, CDPs would be an extra level of complication that is unnecessary, but worth understanding better what is required of the treasury.

[2019-01-10 01:03] meknab-zz commented on #55
Also, just to throw out there, I have some crypto-friendly US banking relationships that might be of benefit if needed.

[2019-01-10 05:54] bmann commented on #48
I think this is done?

[2019-01-10 05:54] #48 closed, assigned to ligi

[2019-01-10 05:56] bmann commented on #53
Looks like @markoprljic is going to help -- thank you! I sent him email access.

I added questions, and it could use more text tweaking and more people testing it, but I'm going to call this done for now.

We can promote the registration link as of now.

[2019-01-10 05:56] #53 closed, assigned to bmann

[2019-01-10 06:03] bmann commented on #54
@markoprljic got added to this. I'm going to close this -- if anyone needs a forwarding address of some kind, I can create them as needed under the ```ethereumevents.global``` domain.

[2019-01-10 06:03] #54 closed, assigned to bmann

[2019-01-10 07:32] bmann opened #56 "Document checkin procedure with pretix, including volunteers"
Making a note that we'll want to document the checkin procedure with pretix, see https://pretix.eu/about/en/features/checkin

There is an Android app, Windows or Linux desktop app, and the admin web interface.

Should also recruit a handful of volunteers for the checkin desk, and how to give them access.

[2019-01-10 07:43] bmann commented on #56
@markoprljic is going to take this on. Can't assign until he's a collaborator, so I've made him a collaborator just on this repo.

[2019-01-10 10:16] bneiluj commented on #55
@bmann what's the current status of those points ?

1. looking for a volunteer to be a third member of the wallet, with 2-of-3 permissions
2. looking for that same volunteer to manage DAI -- creating a CDP or however this works :)
3. in the lead up to Council of Paris 2019, regularly turn ETH into DAI as ticket payments come in

I can help on the DAI - ETH - CDP.

[2019-01-10 11:38] ligi commented on #55
the signaling is strong to not do a CDP - just to exchange ETH->DAI on an exchange

poll here: https://ethereum-magicians.org/t/stable-magicians-poll-exchange-vs-cdp/2377

[2019-01-10 14:02] nanexcool commented on #55
Hi! I'd like to volunteer to help handle the ETH -> DAI exchange. I work at Maker and am trying to be very vocal in all communities and helping out whenever I can, and EthMagicians is just about the greatest ever :)

I agree that exchanging ETH into Dai is the sane idea, opening a CDP while not a big deal, implies speculating with ticket money. You want fairly fast conversions from ETH to Dai to p

[2019-01-10 18:51] ethernian commented on #55
I am quite familiar with ETH/CDP/DAI and ready to help if there any need.

As already mentioned, there is no direct need to open CDP in order to become DAI. [Just trade on oasis.direct](https://oasis.direct).
The only reasons I see to create CDP are:
1. speculating on rising ETH in the future. Use DAI now, sell ETH later.
2. support Maker system by creating additional DAI liquidity.
3. trading ETH

[2019-01-10 19:21] ethernian commented on #46
@boris,
as agreed with @tomislavmamic I have created a text for sponsors to be used on the landing page. Feel free to use it, but please make a proofread and replace XX/YY with real numbers.

==============
Ethereum Magicians Council is a regular gathering of Ethereum Community focused on current progress and challenges in Ethereum community and technology. In contrast to usual conferences and mee

[2019-01-10 23:03] jpitts commented on #55
Great to hear we have volunteers! It will be a learning experience and we can make the procedures & documentation available to the community.

RE: ideas about the process for converting ETH to DAI, I have created a HackMD. Please post your proposals there (as complete as possible) and we all can review them later: https://hackmd.io/s/H1ZWRSrz4

[2019-01-11 19:03] bmann opened #57 "Sponsor text for Council of Paris 2019"
Moved from #46 via @ethernian -- also, I've made you a collaborator on the repo so you can help manage issues.

I've pasted in the text, but more useful for editing collaboratively via HackMD -- https://hackmd.io/dO0BZxjNTK6FjSDHuWDs1w

---

Ethereum Magicians Council is a regular gathering of Ethereum Community focused on current progress and challenges in Ethereum community and technology. In co

[2019-01-11 19:06] bmann commented on #46
@ethernian I moved this to #57 so we have a separate item for tracking. This thread is for the landing page.

Talked to @tomislavmamic in chat about this. The EthereumEvents site can be used, I can't volunteer to maintain it. Will need someone familiar with Jekyll (basic markdown and Git skills) to make edits. I can easily add a collaborator.

Until we have a volunteer to make edits / maintain the

[2019-01-11 19:13] bmann commented on #57
The Prague sponsorship deck is here --> https://drive.google.com/open?id=1r96uMz_jCe6wDvXdfkhy4QHl-APdoASDwURJIcMBdOs

I have edited the text in HackMD https://hackmd.io/dO0BZxjNTK6FjSDHuWDs1w

I'm not sure where this text should go? Past events didn't have this anywhere on the landing page, other than updates that were "Calls for sponsors".

[2019-01-11 20:46] ligi commented on #55
@jpitts from your proposal:

I am pretty sure you can use a DEX with a multisig. That said I have never done that yet. Perhaps @nanexcool has some input on osasis compatibility with multisigs

[2019-01-11 21:54] nanexcool commented on #55
@ligi multisig or single address makes no difference to Oasis. But, the speed at which you send transactions might. There's two ways to interact with Oasis:
 - Execute an order that's already there, say someone is selling 100 Dai for X ETH
 - You submit an order, "I want to buy X amount of ETH, here's 100 Dai"
Since multisig txs usually take longer because you need N signatures to confirm, once yo

[2019-01-16 19:39] bmann commented on #55
I'm going to close this for now. @Flash-Git I'll PM you in the forum about getting on a call with me and @jpitts.

And we've got @meknab scheduled for a treasury management session. I'm going to call this a success! Thanks everyone!

[2019-01-16 19:39] #55 closed, assigned to bmann, jpitts

[2019-01-16 19:41] bmann commented on #46
@tomislavmamic looks like you do want to use the EEG Jekyll site, so I'm going to consider this closed. Am posting about a volunteer to help with this.

[2019-01-16 19:41] #46 closed, assigned to tomislavmamic

[2019-01-16 19:46] bmann opened #58 "Volunteer sought: Website editing support for Council of Paris"
We have a basic Landing Page on the Ethereum Events jekyll install that I set up for Berlin and Prague, see https://ethereumevents.global/events/2019-council-of-paris/. Github repo is here https://github.com/spadebuilders/ethereum-events

Earlier reference for #46 -- work with lead organizer @tomislavmamic and other Paris 2019 volunteers to get sponsor logos, ongoing updates, and other content ont

[2019-01-17 18:07] bmann opened #59 "Updating pretix ticketing / payment instructions to say we accept DAI"
Re: https://twitter.com/nanexcool/status/1085959426874527745

Yes, we can accept DAI is the short answer, but we'll need to update pretix to prompt people with this option.

Feedback on any other parts of the ticketing wording from https://pretix.eu/ethmagicians/councilofparis2019/ also welcome in this thread. @markoprljic was going to review and test this too.

[2019-02-01 17:19] tomislavmamic commented on #57
Added the (shorter version) of sponsor text to the website.

[2019-02-01 17:52] #57 closed, assigned to nobody

[2019-02-04 17:23] mariapaulafn opened #60 "Add MP and Tomislav to Tweetdeck access for ETHMagicians"
Link here: https://ethereum-magicians.org/t/council-of-paris-call-for-rings-and-participants/2588

[2019-02-04 20:30] bmann commented on #60
Thanks @mariapaulafn -- I meant Github Issues for adding you as a Tweeter access. I have tweeted and will promote / RT on my personal account as well.

@jpitts can you please add @mariapaulafn and @tomislavmamic to Tweetdeck access for the EthMagicians Twitter account so they can help get the word out.

[2019-02-06 03:54] jpitts commented on #60
Ok, you both have been added. Let me know if it works.

[2019-02-08 23:06] unpack5 commented on #35
@jpitts I wrote you on Matrix on the 1st of February. Did you receive it?

[2019-02-11 12:50] mariapaulafn opened #61 "Tweet call for DAO ring"
A new topic's been proposed for @ethmagicians, yes, it's DAOs!
join @stellarmagnet, @mptherealmvp and others discussing the year of the DAO https://hackmd.io/s/ByIVnZVdX

[2019-02-11 14:07] bmann commented on #61
@mariapaulafn you should have access via Tweetdeck to EthMagicians account now.

If this is a general call to help promote DAO as a topic - cool ;)

[2019-02-14 15:34] mariapaulafn commented on #60
Hi! i only use browser for @ethberlin so if you can add that one, great

[2019-02-14 15:35] mariapaulafn commented on #61
@bmann yes it is - i just left a note that i dont use my personal tw on browser because of the accounts i manage, if its fine please either add @ethberlin or maybe @tomislavmamic can also pick up my issues to tweet here

[2019-02-20 19:08] bmann commented on #61
I believe this got done. And I just tweeted it from my personal account :)

[2019-02-20 19:08] #61 closed, assigned to bmann

[2019-02-20 19:09] bmann commented on #60
I'll close this issue, assuming @jpitts added EthBerlin as well.

[2019-02-20 19:09] #60 closed, assigned to jpitts

[2019-02-20 23:03] bmann opened #62 "New Ring: VM Ring"
Please create a "VM Ring".

Purpose: to discuss EVM and eWASM design, improvements, and compatibility. New opcode definition. Keeping Jello / Yellow paper specifications up to date.

cc @gcolvin @expede

[2019-03-04 13:24] ltfschoen commented on #62
Created ring on Discourse: https://ethereum-magicians.org/t/forming-a-ring-vm-ring/2830

[2019-03-04 13:28] ltfschoen commented on #52
@pcowgill propose to close this issue as a new category appears to have been created https://ethereum-magicians.org/c/working-groups/mobile-ring

[2019-03-04 13:32] ltfschoen commented on #9
Action required from forum user with sufficient privileges

[2019-03-04 14:40] pcowgill commented on #52
@ltfschoen Thanks for pointing this out! Done.

[2019-03-04 14:40] #52 closed, assigned to nobody

[2019-03-04 23:16] #62 closed, assigned to jpitts

[2019-03-12 23:35] #51 closed, assigned to jpitts

[2019-03-24 20:38] bmann opened #63 "Make a forum category called “Core Devs” or “Core EIPs”"
James Prestwich has suggested that a category name that would be more inclusive is Core Devs. I might also suggest Core EIPs, since we already have an “EIPs” category.

https://twitter.com/_prestwich/status/1109915114222702592

[2019-03-26 04:34] #58 closed, assigned to bmann

[2019-03-26 04:34] #59 closed, assigned to bmann, markoprljic

[2019-03-26 04:37] jpitts commented on #63
This is interesting, this could be a sub-category of EIPs. Should I create categories for all of the types of EIPs?

[2019-03-26 04:41] jpitts commented on #63
This is added, if we end up adding all of the types then we may consider changing the parent category "EIPs" to "Proposals".

[2019-03-26 05:00] jpitts commented on #50
@pmauric, this is in place. Sorry it took so long, I overlooked this.

[2019-03-26 05:00] #50 closed, assigned to jpitts

[2019-03-26 05:01] jpitts commented on #49
@pmauric I have created these. Are you to be the contact? I can participate in the Multisig Ring also if you need an additional contact. Both of these need Ring charters in the Scrolls.

[2019-03-26 05:01] #49 closed, assigned to jpitts

[2019-03-26 05:08] jpitts opened #64 "Website improvements: making the open door even more open"
In addition to the README and guide, we can add a prominent link to a "Directory" or "Galactic Starting Point". This should be maintained by the Education Ring.

This can start with a simple standalone web page featuring some art work, explanations of what the Magicians are about, and links to the key things in the ecosystem.

Not sure where the link to this page should go yet, but the button shou

[2019-03-26 05:19] chiselinc commented on #64
Putting up my hand to work on this during my hacker holiday in Vancouver! ✋😊

[2019-03-26 06:05] bmann commented on #38
@jpitts I think we should move the text of the New Member Guide directly into https://ethereum-magicians.org/t/welcome-please-readme-first.

And probably delete / lock it for comments, and have a link to an "introduce yourself" thread. Maybe even a "New Members" forum that you're automatically added to?

@jpitts is that something that new members definitely see?

[2019-03-26 06:11] bmann commented on #64
I really don't think adding more things that need to get maintained externally is a good idea. One simple idea would be to have a branch in this repo (or the root repo, since it's not used for anything) for this.

I think even the wiki is stale here. I have a half started project to have the content be in Github and then be shown like the Ethereum wiki https://en.ethereum.wiki

I _do_ think we sho

[2019-03-26 06:12] bmann commented on #63
Possibly!

Having a curated Core EIPs should mean for now that people can follow only it and know that it will be highly relevant.

Let's see how this goes...

[2019-03-26 06:12] #63 closed, assigned to nobody

[2019-03-27 20:08] ghost commented on #64
made some art (you need to click on the gif links for the gifs, png/jpeg shown in the read me :)
https://github.com/BrianXV/ethastroart

[2019-03-29 17:39] jpitts commented on #1
Damn, I thought that the Forum was already in email list mode. I am terrible.

[2019-03-29 18:26] jpitts commented on #1
Ok thankfully this email list feature has been in place. It needs to be more clearly advertised, I will ping Chelsea who is working on an on-boarding / edu page for new Magicians.

This email list mode a setting that can be activated under your personal preferences. I will activate mine to see what it is like. I need to advertise this (if it actually works as advertised)

**Steps for users:**

- C

[2019-03-29 20:16] jpitts commented on #1
Adding @chiselinc here, the previous comment ^^^ is what you might consider adding to the intro website, perhaps a guide to using the Forum. I'll X-Post this there too.

[2019-03-29 20:27] jpitts commented on #64
I second Boris' suggestion about using the scrolls repo for the "website", there's not much here so it would be easy. I don't want to interfere too much with @chiselinc 's decisions on it tho, but will help with the infra if needed.

To fully lay out how we could use "scrolls", we can keep the html and images here in this repo, served using GH pages, and then we'll integrate the website with the F

[2019-03-29 20:31] jpitts commented on #9
I actually was thinking of not doing this, as it sacrifices clarity for consistency. Having Working Groups there helps communicate to new people what a Ring is, without making it harder for those already participating in Magicians to find their Rings.

Example:  "Rings: Data Ring" seems a lot more mysterious than "Working Groups: Data RIng".

[2019-03-30 02:00] bmann commented on #1
Specifically this is about enabling reply by email.

A bunch of training should be replaced by this as default. And then people can turn it off.

[2019-03-30 02:01] bmann commented on #9
I file issues to indicate that work needs to be done or a decision needs to be made. If it’s not assigned to anyone, no work gets done.

[2019-03-30 15:28] bmann commented on #1
@jpitts for reference https://meta.discourse.org/t/set-up-reply-via-email-support/14003

[2019-03-30 20:38] fubuloubu opened #65 "Login with Twitter"
People have been complaining about logging in to eth magicians being GitHub only right now. Some contributors do not have a GitHub yet still want to participate. Discourse also always Twitter logins, and since the majority of the community is on Twitter, this may be a good option for login.

https://meta.discourse.org/t/configuring-twitter-login-and-rich-embeds-for-discourse/13395

[2019-04-01 09:26] jpitts commented on #9
LOL, "I actually was thinking of not doing this"... I should have been more clear! I don't think that we should do this.

But I'll update the Forum if y'all insist on calling "Working Groups" -> "Rings" :)

[2019-04-01 13:10] bmann commented on #9
Nope, just leave it open. That was my point. We don’t have consensus.

I wasn’t necessarily filing this on my own behalf. I don’t remember the context.

[2019-04-01 15:49] #56 closed, assigned to markoprljic

[2019-04-01 15:50] #45 closed, assigned to tomislavmamic

[2019-04-01 15:50] #47 closed, assigned to jpitts

[2019-04-03 04:53] bmann opened #66 "Create a Core Devs Meeting Notes category"
The first Core Dev Meeting Notes were published https://ethereum-magicians.org/t/ethereum-core-devs-meeting-58-summary/3053

The suggestion is to make a category so all of these can easily be tracked and subscribed to.

A couple of suggestions:
- Put it under the EIPs category as EIPS > Core Dev Meeting Notes
- Put it under Action Items > Core Dev Meeting Notes
- Put it under Fellowship Gatherings

[2019-04-03 07:48] jpitts commented on #66
Ok I created this category, a new topic can be placed there for each instance where notes or other content are being created. https://ethereum-magicians.org/c/fellowship-gatherings/core-devs-meeting-notes

[2019-04-03 14:37] #66 closed, assigned to nobody

[2019-04-24 14:40] bmann opened #67 "Pay Asseth for ETHCC from EthMagicians wallet"
The final totals are in from EthCC. We have paid out fiat sponsorships from Open Collective - https://opencollective.com/ethmagicians-eu/events/council-of-paris-2019-27245ev

Now we need to pay Asseth the remaining 3304.20EU

Waiting on an address from them, then we can process this.

[2019-05-09 16:06] bmann commented on #67
Asseth's address is `0xD8FF82D36D1439eD3eF8cBb4b28178Ff7F6b7209`.

From CoinGecko, today's EUR to ETH rate is €149.79, so 22.0589 ETH

@jpitts I'm starting one half of this transaction, please approve it when you see it.

[2019-05-11 21:28] jpitts commented on #67
This has now been confirmed:

https://etherscan.io/tx/0x789df5f6f735eafac985aa3f164467beeab600fe31b15b2f18f820add85b402f

[2019-05-13 03:51] bmann commented on #67
Thanks @jpitts — marking as closed.

[2019-05-13 03:51] #67 closed, assigned to bmann, jpitts

[2019-05-22 11:10] pet3r-pan commented on #64
WOW, @bmann NEW PROFILE PICTURE

[2019-08-27 11:39] bmann opened #68 "Extending the multisig owners and operations ring"
After discussing with @jpitts, we are adding Megan and James to the EthMagicians multisig and operations ring.

Right now the multisig is just Jamie and @bmann, and Boris (me!) doesn’t want to be 50% responsible for handling operations related to the wallet.

Megan has experience with crypto accounting and had previously volunteered to help out more.

James has been an active participant and previ

[2019-08-27 11:40] bmann commented on #24
I’m closing this in favour of #68

[2019-08-27 11:40] #24 closed

[2019-08-27 14:09] timbeiko commented on #68
Is the address of the multisig public?

[2019-08-27 16:06] Flash-Git commented on #68
Thanks Boris! @timbeiko the address can be found at https://etherscan.io/address/ethmagicians.eth

[2019-08-27 17:01] bmann commented on #68
@timbeiko also at https://donations.ethereum-magicians.org.

[2019-08-28 13:11] bmann commented on #68
I have invited @Flash-Git and Megan via email to Multis — please create an account and link the address of the wallet you’ll use.

[2019-08-30 15:06] bmann commented on #68
@Flash-Git has linked his address into Multis and I have submitted him as an owner.

@jpitts you need to approve this on chain.

[2019-09-02 23:12] bmann commented on #68
Megan has linked her address to Multis, and I have entered the request to add her as an owner. @jpitts you need to approve.

[2019-09-04 12:48] bmann opened #69 "Upload notes from Biz Models Ring Berlin"
I have notes that I need to upload!

[2019-09-04 21:39] bmann commented on #69
Done https://ethereum-magicians.org/t/berlin-meta-cartel-demo-day-business-model-ring-notes/3623

[2019-09-04 21:39] #69 closed, assigned to bmann

[2019-09-07 16:09] jpitts commented on #68
Sorry about the delay, I'll approve shortly!

[2019-09-07 16:55] jpitts commented on #68
Ok these approvals have been submitted:

https://etherscan.io/tx/0xd71bb20dc737bcb14ad7fef0c8ec83171f46ba1ccae26157470dd136bfb148a5

https://etherscan.io/tx/0xa7efeb667fda0edf3edaf642b9a2d4717442986a499976da42dc32e24d30731f

[2019-09-10 20:18] bmann commented on #68
Completed! Thanks Jamie!

[2019-09-10 20:18] #68 closed, assigned to jpitts

[2021-07-05 17:38] breckyn opened #71 "Cuneiform"